.padre-link{
   background-color: #d3ebcb;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 100;
  margin-top: 20px;
  box-shadow: 2px 6px 40px #888888;
  border-radius: 5px;
}
.nick{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
}
.nick:hover{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
}







/*Header_BotonQuienesSomos*/
.dropbtn {
    background: #afc2a9;
    color: white;
    padding: 10px 37px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(246, 253, 255);
    font-size: 16px;
    font-weight: 300;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  .dropdown-content a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
  }
  .dropdown-content a:hover{
    color: #fff;
	  margin-top: 30%;
	  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    background-color: rgb(0, 0, 0);
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: none;
    border-radius: 5px;
  }
  .dropdown:hover .dropbtn {
/*el dregradado*/
    background: #d9f1d1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
    color: black;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /*Header_BotonTemario*/
  .dropbtn2{
    background: #afc2a9;
    color: white;
    padding: 10px 37px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  
  .dropdown2{
    position: relative;
    display: inline-block;
  }
  .dropdown-content2{
    display: none;
    position: absolute;
    background-color:rgb(246, 253, 255);
    font-size: 16px;
    font-weight: 300;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  .dropdown-content2 a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
  }
  .dropdown-content2 a:hover{
    color: #fff;
	  margin-top: 30%;
	  text-shadow:
		0 0 5px rgb(0, 255, 242),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    background-color: rgb(0, 0, 0);
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
  }
  .dropdown2:hover .dropdown-content2 {
    display: block;
    background-color: none;
    border-radius: 5px;
  }
  .dropdown2:hover .dropbtn2 {
    background: #d9f1d1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
    color: black;
  }
  
  
  
  
  
  
  
  
  
  
  
  /*Boton_HeaderAcercaDe*/
  .dropbtn3{
    background: #afc2a9;
    color: white;
    padding: 10px 37px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  
  .dropdown3{
    position: relative;
    display: inline-block;
  }
  .dropdown-content3{
    display: none;
    position: absolute;
    background-color:rgb(246, 253, 255);
    font-size: 16px;
    font-weight: 300;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  .dropdown-content3 a{
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
  }
  .dropdown-content3 a:hover{
    color: #fff;
	  margin-top: 30%;
	  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    background-color: rgb(0, 0, 0);
    border-color: none;
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
  }
  .dropdown3:hover .dropdown-content3 {
    display: block;
    background-color: none;
    border-radius: 5px;
  }
  .dropdown3:hover .dropbtn3 {
    background: #d9f1d1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
    color: black;
  }