* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  background-color: rgb(236, 248, 226);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}
/*IMAGENES HEADER*/

.img {
  background-image: url();
  display: flex;
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  background-attachment: fixed;
  grid-gap: 20px;
}
.headerimg00 {
  width: 180px;
  height: 175px;
  margin: 5%;
  align-items: center;
}
.headerimg01 {
  width: 175px;
  height: 100px;
  margin: 5%;
}
.headerimg02 {
  width: 175px;
  margin: 5%;
}
.padre_header {
  padding: 1%;
  background-image: url(../../imagenes/fondos/fondo.jpg);
  background-position: center;
  background-size: cover;
}

.carousel-item {
  width: 100%;
  height: 0%;
}
