* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  background-color: rgb(236, 248, 226);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
}
/*IMAGENES HEADER*/

.img {
  background-image: url();
  display: flex;
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  background-attachment: fixed;
  grid-gap: 20px;
}
.headerimg00 {
  width: 180px;
  height: 175px;
  margin: 5%;
  align-items: center;
  border-bottom: 5px solid rgb(255, 255, 255);
}
.headerimg01 {
  width: 175px;
  height: 100px;
  margin: 5%;
  border-bottom: 5px solid rgb(255, 255, 255);
}
.headerimg02 {
  width: 175px;
  margin: 5%;
  border-bottom: 5px solid rgb(255, 255, 255);
}
.padre_header {
  margin-top: 10px;
  padding: 1%;
  /*background-image: url(../../imagenes/fondos/fondo.jpg);*/
  border-bottom: 5px solid rgb(114, 114, 114);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
 /*CUERPO MEDIO DEL INDEX*/

.cuerpo_medio{
  padding-top: 5%;
  display: flex;
}
.uno{
  width:20%;
  height: 550px;
  border: 1px solid black;
}
.dos{
 width: 64.9%;
 height: 550px;
 border: 1px solid black;
}
.tres{
  width: 15%;
  height: 550px;
  border: 1px solid black;
}
/*FINAL DE LA PAGINA INDEX*/

.cuerpo_fin{
  height: 100px;
  border: 1px solid black;
}