.espaciador{
    margin-bottom: 25.05px;
}


.titulo_trastornos_alimenticios{
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    animation: 0.6s;
    size: 100%;
    zoom: 0% 100%;
}





.animacion01{
    display: flex;
    justify-content: center;
}
.sub-div-animacion01{
    display: inline-block;
    width: 492px;
    height: 319px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
}

hr{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 6px;
    background-color: rgb(55, 163, 51);
}





/*contenido texto*/
.T-padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}






.T01{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    display: inline-block;
    margin-top: 40px;
}
.subt-01{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 5%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-01{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}






.T02{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-top: 80px;
}
.subt-02{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-02{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}




.T03{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin: 30px 15px;
}
.subt-03{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-03{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}




.T04{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin: 30px 15px;
}
.subt-04{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-04{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}




.T05{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-bottom: 80px;
}
.subt-05{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-05{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}










.T06{
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline;
    border-radius: 7px;
    height: 100%;
    width: 90%;
}
.subt-06{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-radius: 7px;
}




.T07{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin: 30px 15px;
}
.subt-07{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-07{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}




.T08{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin: 30px 15px;
}
.subt-08{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-08{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}




.T09{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-bottom: 30px;
}
.subt-09{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.texto-09{
    text-align: center;
    padding: 30px 6%;
    margin: 0px 2.5%;
}

