*{
  padding: 0;
  margin: 0;
}
body{
  
  background-color: #E8E0D0;
}
#header{
  margin: auto;
  display: flex;
  font-family: monospace;
  width: 720px;

}
/*listas*/
ul, ol {
  list-style: none;
}

/*IMAGENES HEADER*/
.img{
  background-color: #294931;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;

  background-attachment: fixed;
  grid-gap: 20px;
  
}
.headerimg00{
  width: 175px;
  margin: 5%;
  align-items: center;
}
.headerimg01{
  width: 175px;
   height: 100px;
  margin: 5%;
}
.headerimg02{
  width: 175px;
  margin: 5%;
}
