.espaciador{
    margin-bottom: 25.05px;
}

.titulo_consumo_alimenticio_inadecuado{
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    animation: 0.6s;
    size: 100%;
    zoom: 0% 100%;
}



.CT-padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}



/*contenido texto*/
.CT01{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
}
.Csubt-01{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-01{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}



.CT02{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.Csubt-02{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-02{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}



.CT03{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.Csubt-03{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-03{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}



.CT04{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.Csubt-04{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-04{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}



.CT05{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.Csubt-05{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-05{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}



.CT06{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.Csubt-06{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #80E0A3;
    background-image: url("../../imagenes/fondo.png");
    background-position: 50% 50%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.Ctexto-06{
    text-align: center;
    padding: 10px 6%;
    margin: 0px 2.5%;
}